header{
    border-bottom: 1px solid #000;
}
.navbar-brand{
    width: 85px;
    height: 18px;
    display: block;
    background-image: url('../../assets/images/logo.svg');
    background-size: cover;
    
    @include desktop(){
        width: 190px;
        height: 40px;
    }
}

.search{
    border:none;
    @include desktop(){
        border-left:1px solid;
        border-right:1px solid;
    }

    .form-control{
        width: 288px;
        height: 24px;
        border:none;
        display: none;
        @include desktop(){
            display: block;
        }
    }
}

.navbar-nav{
    background-color: #fff;
    width:100%;
    position: absolute;
    left:0;
    top:37px;  // 50px;
    z-index: 10;
    
   
    @include pad(){
        top:104px;
    }

    @include desktop(){
        background:none;
        position: relative;
        top:0px;
    }

    .nav-item{
        font-size: 18px;
        line-height: 26px;
        .fa-wallet{
            display: none;
        }

        @include desktop(){   
            border-right: 1px solid black;
            font-size: 16px;
            line-height: 24px;

            .btn-wallet{
                display: none;
            }
            .fa-wallet{
                display: block;
            }
        }

    

       &.borderBottom{
            border-bottom: 1px solid #000;
            @include desktop(){   
                border-bottom:0px;
            }
       }

       a.nav-link{
        color:#000;
    }
      
       &:hover{
       // color:$primary;
            background-color: $primary;
            a.nav-link{
                color:#fff;
            }
       }
    }
}

