<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

<header class="container-fluid  px-0 py-md-0 py-3 position-relative">
  <nav class="navbar navbar-expand-lg navbar-light p-0">
    <div class="container-lg px-2 d-flex justify-content-between"> 

      <h1><a class="navbar-brand" href="#"></a></h1>

      <div class="d-flex  ">
        <!--search bar-->
        <div class="search py-md-8 px-md-9 d-flex me-md-0 me-4 align-items-center">
          <input class="form-control me-3 fs-6 lh-base text-dark bg-light" type="search" placeholder="Search" aria-label="Search" value="搜尋作品名稱、藝術家名稱">

          <button class="btn p-0  d-flex align-items-center" type="submit">
            <span class="material-icons text-black fs-5">search</span>
          </button>
        </div>
        
       
          <button class="navbar-toggler border-0 p-0 fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon "></span> -->
          <span class="material-icons text-black fs-5">menu</span>

          </button>
        
          <div class="collapse navbar-collapse " id="navbarContent">
            <ul class="navbar-nav px-2 me-auto mb-2 mb-lg-0 text-center">
                <!-- 隱藏li aria-current="page"  class="active"-->
              <li class="nav-item borderBottom">
                <a class="nav-link px-xl-9 px-md-6 py-md-8 py-4 text-black fw-bold"  href="#">探索</a>
                
              </li>
              <li class="nav-item ">
                <a class="nav-link px-xl-9 px-md-6 py-md-8 py-4 text-black fw-bold" href="#">市值</a>
              </li>
              <li class="nav-item  border-0 mb-md-0 mb-4">
                <a class="nav-link px-xl-9 px-md-6 py-md-8 p-0 text-black " href="#">
                  <span class="material-icons text-black">wallet </span>
                  <span class="btn-wallet btn btn-primary w-100 py-2 link-white border">連結錢包</span>
                </a>
              </li>
            </ul>
          </div>
        
      </div>
    </div>  <!---end nav - container-->
  </nav>
</header>


    <%- contents %>

<footer class="footer">
  <div class="mb-1 border-top border-1"></div>
  <div class="py-4 border-top border-4">
    <p class="text-center fs-6 lh-base">© ART NFT. All Rights Reserved</p>
  </div>
    
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="./assets/js/all.js"></script>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>


<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        loop: true,
       //slidesPerView: "auto",
        spaceBetween: 24,
        slidesPerView: 3,
        coverflowEffect: {
          rotate: 0,  // y軸旋轉角度
          stretch: 0,  //每个slide之间的拉伸值，越大slide靠得越紧
          depth: 0, //slide的位置深度。值越大z轴距离越远，看起来
          modifier: 1, //depth和rotate和stretch的倍率
          slideShadows: false, //是否开启slide阴影
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          992: {
            centeredSlides: false,
            slidesPerView: 1,
          },
          1200: {
            centeredSlides: true,
            slidesPerView: 3,
            spaceBetween: 24,
          }
        }

      });

</script>

</body>

</html>