<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
    <!-- <div class="fs-4 text-primary  lh-32" style="font-family: 'Squada One';  ">font-size test  測試字體</div>  

    <div class="fs-7 text-primary lh-base">font-size test  測試字體</div>  

    <div class="fs-5 text-primary lh-sm"> 測試字體</div>  

<div style="background-color: blue;">
<button class="btn btn-triangle btn-white border-black">MORE</button>
<button class="btn btn-triangle btn-border">MORE</button>
<button class="btn btn-primary border text-c">連結錢包</button>
</div>
<br/> -->




<header class="container-fluid  px-2">
  <nav class="navbar navbar-expand-lg navbar-light p-0">
    <div class="container px-0 d-flex justify-content-between"> 
      <!-- nav內的container為必須 ? why ? -->
      
      <a class="navbar-brand" href="#"></a>

      <div class="d-flex ">
        <!--search bar-->
        
       
        <div class="search py-md-8 px-md-9 d-flex me-md-0 me-4 border-start border-end align-items-center">
          <input class="form-control me-3 fs-6 lh-base text-dark bg-light" type="search" placeholder="Search" aria-label="Search" value="搜尋作品名稱、藝術家名稱">

          <button class="btn p-0  d-flex align-items-center" type="submit">
            <span class="material-icons text-black fs-5">search</span>
          </button>
        </div>
        

        <button class="navbar-toggler border-0 p-0 fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon "></span> -->
        <span class="material-icons text-black fs-5">menu</span>
        </button>
        
        <div class="collapse navbar-collapse " id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item border-end">
              <a class="nav-link px-md-9 py-md-8 text-black fw-bold "  href="#">探索</a>
              <!--隱藏 aria-current="page"  class="active"-->
            </li>
            <li class="nav-item border-end">
              <a class="nav-link px-md-9 py-md-8 text-black fw-bold" href="#">市值</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ps-md-9 py-md-8" href="#">
                <span class="material-icons">
                  wallet
                  </span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>  <!---end nav - container-->
  </nav>
</header>


    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav> -->

    <%- contents %>

    <footer class="footer">
      footer
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>