//覆蓋 : 不適合
//font  // 中英文字體
$font-family-sans-serif:    'Noto Sans TC' , 'Squada One' , system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


//color
$primary:       #E6553B !default; 
$secondary:     #53C139;//$gray-600 !default;
$light:         #F0F0F0;
$dark:          #808080;


//font-size ,class="fs-*"
// $font-sizes: (
//   1: 48px, 
//   2: 32px, 
//   3: 28px, 
//   4: 24px, 
//   5: 20px, 
//   6: 18px,
//   7: 16px,
//   8: 14px
// ) !default;

//spacers
// $spacers: (
//   0: 0,
//   1: 4px,
//   2: 8px,
//   3: 16px,
//   4: 24px,
//   5: 28px  ,
//   6: 32px,
//   6: 36px ,
//   7: 40px,
//   8: 44px,
//   9: 48px,
//   10:80px
// ) !default;