

.btn-triangle{
    position: relative;
}
.btn-triangle ::after{
    content:"";
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 16px transparent solid;
    border-bottom: 16px $primary solid;
}
.btn-triangle :hover{
    border-bottom: 16px $black solid;
}